<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-06-27-alfred.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-30-mocha-babel.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-19-vuex.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987202</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-20-vue-loader.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987202</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-07-nginx-usage.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987202</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-09-efficiency.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987298</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-10-node_global.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987298</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-11-learn-new-things.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987399</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-22-wechat.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987399</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-24-weinre.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879875</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-25-supertest.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879875</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-16-login_register.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879875</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-20-koa2-vue-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987602</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-22-coding-principle.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987697</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-24-vue-caveats.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987697</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-13-scope.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987798</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-14-snowflake.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987798</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-07-vue-upgrade.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987798</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-08-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988001</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-08-vuex-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879879</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-09-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988102</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-10-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988198</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-11-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988198</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-19-es6-unit-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987101</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-19-share.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879879</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-applicationRecord-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988102</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-functional_programming.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87987602</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-git-amend.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879884</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-git-ignore.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879884</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-heroku-publish-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988299</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-install-devise-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879884</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-rails-101-extra-jobs.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988102</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-rails-console-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988001</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-textarea-input.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988502</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-the-wrong-count-for-the-associated-table-problem.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988502</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-21-why-writing.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988299</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-03-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988597</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-04-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988698</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-04-unkown-format.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988597</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-05-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879888</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-05-devise-install-fail.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988698</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-06-can-not-excute-post-method.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879888</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-06-can-not-excute-update-action-in-right-way.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879888</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-06-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988901</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-07-admin-jobs-create-update.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87988901</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-07-bootstrap-row.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989002</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-07-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989002</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-08-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989199</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-08-hong-jiang-yu.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989098</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-08-week-best-concept-or-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989098</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-08-week-hole.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989199</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-09-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879893</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-09-rails-101-category.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989098</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-10-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879893</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-13-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.879893</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-16-conding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989402</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-16-who-watch-me.md</key>
			<dict>
				<key>lastModification</key>
				<real>506442920.98922402</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2017-01-17-vue-resource-object.md</key>
			<dict>
				<key>lastModification</key>
				<real>506357999.87989402</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-18-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506443877.353342</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-01-18-job-listing.md</key>
			<dict>
				<key>lastModification</key>
				<real>506444132.11210197</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2017-01-22-alias.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267543.76233703</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>2017-01-22-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267256.71073598</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>2017-01-22-css-base.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267261.43737203</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>121</integer>
				</dict>
			</dict>
			<key>2017-01-22-html-base.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267265.02083898</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>122</integer>
				</dict>
			</dict>
			<key>2017-01-22-job-listing-version-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>506744987.91164601</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>2017-01-22-search-bug.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267490.73826998</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>125</integer>
				</dict>
			</dict>
			<key>2017-01-23-clear-heroku-data.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267289.72635001</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>2017-01-23-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506877331.58402503</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2017-01-24-application-js-bug.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267662.82595199</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>2017-01-24-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>506965595.42739201</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>2017-01-25-coding-diary.md</key>
			<dict>
				<key>lastModification</key>
				<real>507109080.19899702</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>2017-01-26-custom-form-error-tip.md</key>
			<dict>
				<key>lastModification</key>
				<real>507267738.69637698</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>133</integer>
				</dict>
			</dict>
			<key>2017-01-26-xiaolai-fullstack-share.md</key>
			<dict>
				<key>lastModification</key>
				<real>507136243.97081202</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506692587.658714</real>
				<key>lastModification</key>
				<real>506692587.658714</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>Untitled - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506692589.16740602</real>
				<key>lastModification</key>
				<real>506692589.16740602</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>Untitled - 4.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506692589.93231201</real>
				<key>lastModification</key>
				<real>506692589.93231201</real>
				<key>version</key>
				<dict>
					<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
					<integer>37</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>506877354.22922099</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled - 4.md</string>
		</array>
		<array>
			<string>Untitled - 3.md</string>
		</array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>2017-01-26-xiaolai-fullstack-share.md</string>
		</array>
		<array>
			<string>2017-01-25-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-24-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-24-application-js-bug.md</string>
		</array>
		<array>
			<string>2017-01-23-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-22-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-22-search-bug.md</string>
		</array>
		<array>
			<string>2017-01-22-alias.md</string>
		</array>
		<array>
			<string>2017-01-22-html-base.md</string>
		</array>
		<array>
			<string>2017-01-22-job-listing-version-2.md</string>
		</array>
		<array>
			<string>2017-01-18-job-listing.md</string>
		</array>
		<array>
			<string>2016-06-27-alfred.md</string>
		</array>
		<array>
			<string>2016-06-30-mocha-babel.md</string>
		</array>
		<array>
			<string>2016-12-19-es6-unit-test.md</string>
		</array>
		<array>
			<string>2016-07-19-vuex.md</string>
		</array>
		<array>
			<string>2016-07-20-vue-loader.md</string>
		</array>
		<array>
			<string>2016-08-07-nginx-usage.md</string>
		</array>
		<array>
			<string>2016-08-09-efficiency.md</string>
		</array>
		<array>
			<string>2016-08-10-node_global.md</string>
		</array>
		<array>
			<string>2016-08-11-learn-new-things.md</string>
		</array>
		<array>
			<string>2016-08-22-wechat.md</string>
		</array>
		<array>
			<string>2016-08-24-weinre.md</string>
		</array>
		<array>
			<string>2016-08-25-supertest.md</string>
		</array>
		<array>
			<string>2016-09-16-login_register.md</string>
		</array>
		<array>
			<string>2016-12-21-functional_programming.md</string>
		</array>
		<array>
			<string>2016-10-20-koa2-vue-1.md</string>
		</array>
		<array>
			<string>2016-10-22-coding-principle.md</string>
		</array>
		<array>
			<string>2016-10-24-vue-caveats.md</string>
		</array>
		<array>
			<string>2016-11-13-scope.md</string>
		</array>
		<array>
			<string>2016-11-14-snowflake.md</string>
		</array>
		<array>
			<string>2016-12-07-vue-upgrade.md</string>
		</array>
		<array>
			<string>2016-12-08-vuex-error.md</string>
		</array>
		<array>
			<string>2016-12-19-share.md</string>
		</array>
		<array>
			<string>2016-12-21-rails-console-error.md</string>
		</array>
		<array>
			<string>2016-12-08-coding-diary.md</string>
		</array>
		<array>
			<string>2016-12-21-rails-101-extra-jobs.md</string>
		</array>
		<array>
			<string>2016-12-09-coding-diary.md</string>
		</array>
		<array>
			<string>2016-12-21-applicationRecord-error.md</string>
		</array>
		<array>
			<string>2016-12-10-coding-diary.md</string>
		</array>
		<array>
			<string>2016-12-11-coding-diary.md</string>
		</array>
		<array>
			<string>2016-12-21-why-writing.md</string>
		</array>
		<array>
			<string>2016-12-21-heroku-publish-error.md</string>
		</array>
		<array>
			<string>2016-12-21-install-devise-error.md</string>
		</array>
		<array>
			<string>2016-12-21-git-amend.md</string>
		</array>
		<array>
			<string>2016-12-21-git-ignore.md</string>
		</array>
		<array>
			<string>2016-12-21-textarea-input.md</string>
		</array>
		<array>
			<string>2016-12-21-the-wrong-count-for-the-associated-table-problem.md</string>
		</array>
		<array>
			<string>2017-01-03-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-04-unkown-format.md</string>
		</array>
		<array>
			<string>2017-01-04-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-05-devise-install-fail.md</string>
		</array>
		<array>
			<string>2017-01-05-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-06-can-not-excute-post-method.md</string>
		</array>
		<array>
			<string>2017-01-06-can-not-excute-update-action-in-right-way.md</string>
		</array>
		<array>
			<string>2017-01-06-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-07-admin-jobs-create-update.md</string>
		</array>
		<array>
			<string>2017-01-07-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-07-bootstrap-row.md</string>
		</array>
		<array>
			<string>2017-01-08-hong-jiang-yu.md</string>
		</array>
		<array>
			<string>2017-01-09-rails-101-category.md</string>
		</array>
		<array>
			<string>2017-01-18-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-08-week-best-concept-or-tool.md</string>
		</array>
		<array>
			<string>2017-01-08-week-hole.md</string>
		</array>
		<array>
			<string>2017-01-08-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-09-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-10-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-13-coding-diary.md</string>
		</array>
		<array>
			<string>2017-01-16-conding-diary.md</string>
		</array>
		<array>
			<string>2017-01-17-vue-resource-object.md</string>
		</array>
		<array>
			<string>2017-01-16-who-watch-me.md</string>
		</array>
		<array>
			<string>2017-01-22-css-base.md</string>
		</array>
		<array>
			<string>2017-01-23-clear-heroku-data.md</string>
		</array>
		<array>
			<string>2017-01-26-custom-form-error-tip.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
			<integer>134</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>fd545631f919d427684fd0c7f8fc656f2b19d9b276ea5e2aefcf66738b8d84df</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
